#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.home {
  text-align: center;
  color: #fff;
}

.logo {
  height: 6em;
  padding: 1em;
  transition: transform 0.5s;
}

.logo:active {
  transform: rotateY(180deg);
}

.title {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.start-button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  background-color: #14549c;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.leaderboard-button {
  padding: 10px 20px;
  margin: 30px 10px 10px 10px; 
  font-size: 16px;
  background-color: gray;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 100%; 
}

input {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(100% - 22px); 
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
  max-width: 400px; 
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
}
